---
import WisdomPost from '../components/WisdomPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = "Snips of Wisdom";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>{ pageTitle }</h1>



    
    <h2>... Bits and peices I have connected with</h2>
    <ul>
      {allPosts.map((post) => <WisdomPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
 
  </BaseLayout>