---
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Collection of Wisdom</title>
  </head>
  <br>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/wisdom/">Wisdom</a>


    <h1>Wisdom</h1>
    <h2>... Bits and peices I have connected with</h2>
    <ul>
      <li><a href="/posts/post-01/">Ikigai: Get rid of the things that make you fragile</a></li>
      <li><a href="/posts/post-02/">The Pocket Thich Nhat Hanh: The Buddha</a></li>
      <li><a href="/posts/post-03/">The Forerunner: SAID A SHEET OF SNOW-WHITE PAPER . . .</a></li>
    </ul>
 
  </body>
</html>